{% extends 'base.html.twig' %}

{% block body %}
    <h1>Édition de <em>{{ article.title }}</em></h1>
    {{ include('article/_form.html.twig', {action: 'Modifier'}) }}
{% endblock %}

{% block title %}Édition de {{ article.title }}{% endblock %}
