{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articles de {{ author.name }}</h1>
    {# en PHP : ! empty(articles) #}
    {% if articles is not empty %}
        <ul>
            {% for article in articles %}
                <li>
                    <a href="{{ path('app_article_show', {slug: article.slug}) }}">{{ article.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Pas d'articles</p>
    {% endif %}
{% endblock %}

{% block title %}Articles de {{ author.name }}{% endblock %}

